config VIDEO_ATOMISP_CSS10
	tristate "Medfield Penwell Image Signal Processor Driver"
	depends on VIDEO_V4L2
	depends on !64BIT
	select VIDEOBUF2_CORE
	select VIDEOBUF2_MEMOPS

	---help---
	  Say Y here if your platform support camera imaging subsystem on
	  the Intel Medfield platform.

	  To compile this driver as a module, choose M here: the
	  module will be called atomisp.
