config INTEL_TXEI
	tristate "Intel VLV IPC Over Trusted Execution Interface (Intel TXEI)"
	depends on X86 && PCI
	help
	  The Intel Trusted Execution Engine (Intel TXEI) provides Manageability,
	  Security and Media services for system containing Intel chipsets.
	  if selected /dev/txei misc device will be created.

	  Supported Chipsets are:
	  Valueview (Baytrail

	  For more information see
	  <http://software.intel.com/en-us/manageability/>

config INTEL_TXEI_DEBUG
	tristate "Intel VLV IPC Over Trusted Execution Interface (Intel TXEI) Debug"
	depends on X86 && PCI && INTEL_TXEI
	help
	  This feature is for testing the Intel Trusted Execution Engint (Intel TXEI).
	  it is to be used only for driver development or hardware testing.

	  It requires the INTEL_TXEI to be enabled.

	  If in doubt, leave off.
