#
# Generic thermal sysfs drivers configuration
#

menuconfig THERMAL
	tristate "Generic Thermal sysfs driver"
	help
	  Generic Thermal Sysfs driver offers a generic mechanism for
	  thermal management. Usually it's made up of one or more thermal
	  zone and cooling device.
	  Each thermal zone contains its own temperature, trip points,
	  cooling devices.
	  All platforms with ACPI thermal support can use this driver.
	  If you want this support, you should say Y or M here.

config THERMAL_HWMON
	bool
	depends on THERMAL
	depends on HWMON=y || HWMON=THERMAL
	default y

config SPEAR_THERMAL
	bool "SPEAr thermal sensor driver"
	depends on THERMAL
	depends on PLAT_SPEAR
	help
	  Enable this to plug the SPEAr thermal sensor driver into the Linux
	  thermal framework

config DEBUG_THERMAL
	bool "Thermal debug information support"
	depends on THERMAL
	help
	  This enables debug sysfs interfaces/information for Thermal
	  subsystem.

	  Saying Y here will expose extra sysfs nodes under
	  /sys/class/thermal/thermal_zoneX/

config SENSORS_THERMAL_MRFLD
        tristate "Thermal driver for Intel Merrifield platform"
        depends on THERMAL && IIO
        help
          Say Y here to enable thermal driver on Intel Merrifield
          platform.

          To load this driver as a module, select M here. The module
          will be called "mrfl_thermal"

config INTEL_BYT_THERMAL
        tristate "Thermal driver for Intel Baytrail platform"
        depends on THERMAL && IIO
        help
          Say Y here to enable thermal driver on Intel Baytrail
          platform.

          To load this driver as a module, select M here. The module
          will be called "byt_thermal"

config SOC_THERMAL
	tristate "SoC Thermal driver"
	depends on THERMAL
	help
	  SoC Thermal driver registers to Generic Thermal Framework.
	  Exposes SoC DTS and aux trip point values through the framework.

          Say Y here to enable thermal driver on Intel Merrifield
          platform. To load this driver as a module, select M here.
