#
# Modem Control Driver.
# Perform power on/reset/power off on IMC modems
#

config MDM_CTRL
	bool "Modem control driver"
	default y
	---help---
	  The modem control driver for IMC modems. This driver will perform any
	  power request on IMC modems. It will create /dev/mdm_ctrl char device
	  by default.
	  Verified for XMM6260, XMM7160, XMM6360 and XMM 6263 modems.

config MDM_CTRL_DEV_NAME
	string "Boot driver device name"
	depends on MDM_CTRL
	default "mdm_ctrl"
	---help---
	  Sets the name for the modem control driver device.

	  If unsure, use the default value.

choice
	prompt "IMC reset sequence"
	depends on MDM_CTRL
	default MDM_IMC_6260
	---help---
	  On IMC modems, there are different sequences to boot/reset/power off.
	  The following sequences are specific to IMC XMM7160 and XMM6260 ones
	  but can be used for other modem types.

	  If unsure, use the default value.

config MDM_IMC_6260
	bool "IMC 6260 reset sequence"
	depends on MDM_CTRL
	---help---
	  Uses the XMM6260 sequences in order to boot, reset and power off the
	  modem.
	  Can also be used for XMM6263 modems.

	  If unsure, use the default value.

config MDM_IMC_7160
	bool "IMC 7160 reset sequence"
	depends on MDM_CTRL
	---help---
	  Uses the 7160 sequences in order to boot, reset and power off the
	  modem. Can also be used for XMM6360 modems, based on 7160 hardware.

	  If unsure, use the default value.

endchoice

config MDM_CTRL_CHIPCNTRL_ON
	hex "PMIC register address"
	default 0x06
	depends on MDM_CTRL
	---help---
	  This parameter is the register value that should be modified in
	  in order to get the modem powered up.
	  This parameter depends on the board.

	  If unsure, use the default value.

config MDM_CTRL_CHIPCNTRL_OFF
	hex "PMIC register address"
	default 0x04
	depends on MDM_CTRL
	---help---
	  This parameter is the register value that should be modified in
	  in order to get the modem powered down.
	  This parameter depends on the board.

	  If unsure, use the default value.

config MDM_CTRL_CHIPCNTRL
	hex "PMIC register address"
	default 0x0E0
	depends on MDM_CTRL
	---help---
	  This parameter is the register address that should be modified in
	  in order to get the modem powered up.
	  This parameter depends on the board.

	  If unsure, use the default value.

config MDM_IMC_EARLY_BOOT
	bool "IMC early boot"
	default n
	depends on MDM_CTRL
	---help---
	  Launch boot sequence as early as possible.

	  If unsure, use the default value.
